.homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: navy;
}

.spaceDivider {
    height: 5rem;
}

.homeHeaderTitle {
    font-size: 4em;
    margin-bottom: 0px;
    color: white;
    position: relative;
}
.homeHeaderTitle::after{
    content: '|';
    
    font-weight: 100;
    position: absolute;
    right: 0;
    color: white;
    background-color: navy;
    width: 100%;
    animation: typing 2.5s steps(18) alternate infinite,
                line 1s infinite;
}
@keyframes typing {
    to{
        width: 0%;
    }

}
@keyframes line {   
    50%{
        color:transparent;
    }
    
}


.homeHeaderText {
    font-size: 2em;
    text-align: center;
    color: white;
    margin-bottom:2em;
}

.HomeCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bookAnimation {
    height: 32%;
    width: 32%;
}

#homeCard1 {
    margin-bottom: 90px;
}

.discussionAnimation {
    height: 33%;
    width: 33%;
}

.communityAnimation {
    height: 50%;
    width: 50%;
}

.HomeCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
    padding: 5em;
}

.HomeCardTitle {
    font-size: 2.5em;
}

.HomeCardText {
    font-size: 1.5em;
}